language: android
jdk: oraclejdk8

env:
  matrix:
  - ANDROID_TARGET=android-23  ANDROID_ABI=armeabi-v7a

android:
  components:
  - build-tools-23.0.1
  - android-23
  - sys-img-armeabi-v7a-android-23
  - extra-google-m2repository
  - extra-android-m2repository

before_install:
  - echo "disablePreDex" >> gradle.properties

script:
  - ./gradlew check
