language: android
jdk: oraclejdk8
sudo: false

env:
  matrix:
  - ANDROID_TARGET=android-22  ANDROID_ABI=armeabi-v7a

android:
  components:
  - build-tools-22.0.1
  - android-22
  - sys-img-armeabi-v7a-android-22
  - extra-google-m2repository
  - extra-android-m2repository
